.git
.gitignore
.DS_Store

**/.env
**/.env.*
!**/.env.example

**/.next
**/.turbo
**/.cache
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.pyright
**/__pycache__
**/*.pyc

**/node_modules
**/.venv
**/dist
**/build
**/*.tsbuildinfo

coverage
playwright-report
test-results

